*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif ;
}

body{
    background-color: #f0ecec !important;
}

.header{
    background-image: url(../Img_bg/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 650px;
}


/*--------------------Nabvar---------------------------*/

.navbars{
    background-color: black;
    width: 100%;
    min-height: 90px; 
    position: relative;
    transition: all 1s ease;
    margin-bottom: 3%;
    z-index: 1000;
    
}
.logo2{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.863);
    top: 0;
}


.img_logo{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 27%;
    padding: 5px;
}

.navbars h1{
    color: #e6e1e1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.3em;
    font-weight: normal;
    position: absolute;
    left: 42%;
}

.redes{
    position: absolute;
    left: 75%;
    margin-top: 2%;
    
}

.redes i{
    height: 15px;
    width: 15px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid;
    transition: 0.3s;
}
.redes i:hover{
    color: black;
    background: white;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li a{
    text-decoration: none; 
    margin: 1em;
    color: #555454;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.menu ul li a:hover{
     color: rgb(255, 255, 255);
}

.linea-link::after {
     content: '';
     display: block;
     width: 0;
     height: 1px;
     background: #ffffff;
     transition: width .3s;
}

.linea-link:hover::after {
     width: 100%;
     transition: width .3s;
}

/*--------------------------Index------------------------------*/
 

.new{ 
    width: 98%;
     background-color: #ffffff;
     margin: 1%;
     margin-left: 10px !important;
 }

.new .articulos{
     width: 365px;
     height: 400px;
     background-color: #0c9275;
     margin: 0.1em; 
 }
.new .articulos .Img_contenedor{
     position: relative;
     overflow: hidden;
 }
.new .articulos .Img_contenedor img{
    width: 100%;
    height: 400px;
}

.new .articulos .Img_contenedor .bg{
    position: absolute;
    background-color: #00000028;
    width: 100%;
    height: 400px;
    top: 0;
    transition: all 0.5s ;
    cursor: pointer;
   
}
.new .articulos .Img_contenedor .bg:hover {
    background-color: #000000b4;

}
.new .articulos .Img_contenedor .contenido{
    padding: 0 10px;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    transform: translateY(122%);
    transition: all 0.5s ease-in;
    cursor: pointer;
    
}

.new .articulos .Img_contenedor:hover .contenido{
    transform: translateY(80%);
}
.new .articulos .Img_contenedor .contenido p,h2{
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0.5em;
    
}
.new .articulos .Img_contenedor .contenido a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 70%;
}

.seccion{
    width: 100%;
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "bio bio Publicidad""articulos2 articulos2 articulos2" " agremiados agremiados agremiados";
}


.seccion .bio{
    grid-area: bio;
    background-color: #070707;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.seccion .bio .quote{
   color: #ff9800;
   font-size: 30px;
}

.seccion .bio .quote2{
   display: flex;
   float: right;
}

.seccion .bio p{
   color: #ffffff;
   font-size: 1.5em;
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: justify;
   margin: 10px;
}

.seccion .Publicidad{
   grid-area: Publicidad;
   background-color: #0c9275;
   width: 100%;
   margin-left: 20px;
}
.seccion .articulos2{
    grid-area: articulos2;
     width: 100%;
 }

.seccion .articulos2 .contenedor{
    width: 350px;
    height: 400px;
    text-align: left;
    background-color: #fff;
    font-size: 12px; 
    border-bottom: 1px solid #dcdcdc;
    margin: 10px;
    border: 0 solid;
    transition: 0.2s;
    cursor: pointer;
}

.seccion .articulos2 .contenedor:hover{
    border: #0c9275 10px solid;
}

.seccion .articulos2 .contenedor img{
    width:  350px;
}
.seccion .articulos2 .contenedor .Autor{
    margin: 0 20px 3px 20px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #0c9275;
}
.seccion .articulos2 .contenedor .articulo_titulo{
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.seccion .articulos2 .contenedor .articulo_titulo h2{
    color: #070707;
    
    
}
.seccion .articulos2 .contenedor .articulo_titulo h2:hover{
    color: #0c9275;
}

.seccion .articulos2 .contenedor .Fecha{
    margin: 0 20px 3px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #0c9275;
    float: right;
}

 .seccion .agremiados{
     grid-area: agremiados;
     background-color: #e6e3e3;
     width: 100%;
     padding: 0;
 }
 
 .seccion .agremiados_titulo{
     background-color: #ffffff;
     width: 100%;
     height: 50px;
     margin: 0;
 }
 .seccion .agremiados_titulo h3{
     margin: 0;
     padding: 0.7em;
     text-align: center;
     font-size: 1.2em;
     font-family: 'Open Sans Condensed', sans-serif;
     color: #555454;
     letter-spacing: 0.3em;
     font-weight: normal;
 }

 .seccion .agremiados .Img_agremiados{
     margin-top: 2%;
     padding: 10px;
     overflow: hidden;;
     position: relative;
 }
 .seccion .agremiados .Img_agremiados img{
     width: 200px;
     height: 200px;
     border-radius: 100%;
    
 }
 .seccion .agremiados .Img_agremiados .Nombre_banda{
     text-align: center;
     font-size: 15px;
     margin: 10px;
     
 }

 .seccion .agremiados  .bg_agremiados{
   
     background-color: #020202b2;
     width: 200px;
     height: 200px;
     border-radius: 100%;
     position: absolute;
     top: 4%;
     transform: translateY(200%);
     
 }
 .seccion .agremiados .bg_agremiados a{
     color: #ffffff;
     font-size: 28px;
     padding: 2px;
     
 }
 .seccion .agremiados  .bg_agremiados .redes_agremiados{
     position: absolute;
     top: 40%;
     left: 15%;
 }
 .seccion .agremiados .Img_agremiados:hover .bg_agremiados{
     transform: translateY(0%);
 }













 /* ------------------------- Footer ----------------------- */

.footer{
    width: 100%;
    background: black;
    display: block;
}

.inner-footer{
    width: 95%;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    
}

.footer .inner-footer .footer-items img{
    width: 200px;
    height: 200px;
}

.footer h2{
    margin: 10px 0;
    color: grey;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
}

.footer .border{
    height: 2px;
    width: 40px;
    background: #fff;
}

.footer ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer ul a:hover{
     color: #ff9800;
}

.footer ul li{
    margin: 10px 0;
    height: 25px;
    font-family: 'Open Sans Condensed', sans-serif !important;
}

.footer li i{
    margin-right: 20px;
}

.footer .social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}

.footer .social-media a{
    text-decoration: none;
}

.footer .social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid;
    transition: 0.3s;
}

.footer .social-media i:hover{
    color: black;
    background: white;
}

.footer .footer-bottom{
    padding: 10px;
    background: grey;
    height: 30px;
    
}
.footer .footer-bottom p{
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif ;
}
.footer .footer-bottom p span{
    color: #ff9800;
}